*.cmi
*.cmo
lexer.ml
parser.ml
parser.mli

_build
_build/*

questions.txt
commands.txt

syntax_notes.md

test/patterns/*.txt

test/user_study_patterns
test/user_stidy_patterns/*

_coverage
_coverage/*

_coverage_data
_coverage_data/*
