*.cmi
*.cmo
lexer.ml
parser.ml
parser.mli

_build
_build/*

questions.txt
commands.txt

syntax_notes.md

test/patterns/*.txt

_coverage/*
_coverage_data/*

test/user_study_patterns
test/user_study_patterns/*

parser_rule_coverage.txt

line_count.txt
