<!doctype html>
<html data-theme="autumn">
  <head>
    <meta charset="UTF-8">
    <script src="main.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>LoopLang Compiler</title>
  </head>
  <body class="bg-base-200 h-screen overflow-hidden">
    <div class="flex flex-row gap-6 p-10 h-full">

      <aside class="w-64 flex-none">
        <%- include('menu', { page: 'docs' }) %>
      </aside>

      <main class="flex-1 h-full flex flex-col">

        <div class="flex w-full flex-col gap-2 flex-1">
          
          <h1 class="text-3xl font-bold text-primary mb-4">Documentation</h1>

          <h2 class="text-xl font-bold text-secondary">Crochet-Specific Syntax and Semantics</h2>

          <h3 class="text-lg font-bold text-secondary-content">Stitch Types</h3>
          <h3 class="text-lg font-bold text-secondary-content">Row Identifiers</h3>
          <h3 class="text-lg font-bold text-secondary-content">Multipliers</h3>
          <h3 class="text-lg font-bold text-secondary-content">Row Count</h3>
          <h3 class="text-lg font-bold text-secondary-content">Comments</h3>

          <h2 class="text-xl font-bold text-secondary">Additional Programming Constructs</h2>

          <h3 class="text-lg font-bold text-secondary-content">Variables</h3>
          <h3 class="text-lg font-bold text-secondary-content">If-Else Statements</h3>
          <h3 class="text-lg font-bold text-secondary-content">For-Loops</h3>
          <h3 class="text-lg font-bold text-secondary-content">Functions</h3>


        </div>
      </main>
    </div>
  </body>
</html>