<!doctype html>
<html data-theme="autumn">
  <head>
    <meta charset="UTF-8">
    <script src="main.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>LoopLang Compiler</title>
  </head>
  <body class="bg-base-200 min-h-screen">
    <div class="flex flex-row gap-6 p-10 h-full">

      <aside class="w-64 flex-none">
        <%- include('menu', { page: 'compiler' }) %>
      </aside>

      <main class="flex-1 h-full flex flex-col min-w-0">

        <div class="flex w-full flex-col gap-2 flex-1 min-w-0">
          
          <h1 class="text-3xl font-bold text-primary mb-4">LoopLang Compiler</h1>

          <div class="flex flex-col gap-2 flex-1">
            <h2 class="text-xl font-bold text-secondary">LoopLang Code</h2>
            <textarea class="textarea w-full h-full resize-none min-h-64 font-mono" spellcheck="false" id="editor" placeholder="enter code"></textarea>
            <button type="button" class="btn btn-secondary w-full" id="compile-button">Compile</button>
          </div>

          <div class="mockup-code w-full" id="terminal">
            <pre><code>Weclome to the LoopLang Compiler!</code></pre>
          </div>

          <div class="divider my-1"></div>

          <div class="flex flex-col gap-2 flex-1 pb-10">
            <h2 class="text-xl font-bold text-secondary">Crochet Pattern</h2>
            <textarea class="textarea w-full h-full resize-none min-h-64" id="output-area" readonly></textarea>
          </div>

        </div>
      </main>
    </div>
  </body>
</html>