<!doctype html>
<html data-theme="autumn">
  <head>
    <meta charset="UTF-8">
    <script src="main.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>LoopLang Compiler</title>
  </head>
  <body class="bg-base-200 min-h-screen">
    <div class="flex flex-row gap-6 p-10">

      <aside class="w-64 flex-none">
        <%- include('menu', { page: 'compiler' }) %>
      </aside>

      <main class="flex-1">

        <div class="flex w-full flex-col gap-2">
          
          <h1 class="text-3xl font-bold text-primary">LoopLang Compiler</h1>

          <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-secondary">LoopLang Code</h2>
            <textarea class="textarea w-full h-64 resize-none" id="editor" placeholder="enter code"></textarea>
            <button type="button" id="compile-button" class="btn btn-secondary w-full">Compile</button>
          </div>

          <div class="divider"></div>

          <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-secondary">Crochet Pattern</h2>
            <textarea class="textarea w-full h-64 resize-none" id="output-area" placeholder="crochet pattern" readonly></textarea>
          </div>

        </div>
      </main>
    </div>
  </body>
</html>